{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
{% include "blog/head.html" %}
<script type="text/javascript">
        $(function(){
        {% block jquery %}
        {% endblock %}
        });
</script>
</head>
<body>
{% include "blog/nav.html" %}
<div class="container">
	<div class="row">
		<div class="col-md-8"><!-- maincontainer -->
     			{% block content %}Empty page{% endblock %}
                {% if is_paginated %}
                    <div class="text-center">
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                            <li>
                                <a href="/blog/{% if categorised %}category/{{ cat_id }}/{% endif %}page/{{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in page_obj.paginator.page_range %}
                                {% if forloop.counter == page_obj.number %}
                                <li class="active"><a href="#">{{ forloop.counter }}<span class="sr-only">(current)</span></a></li>
                                {% else %}
                                <li><a href="/blog/{% if categorised %}category/{{ cat_id }}/{% endif %}page/{{ forloop.counter }}">{{ forloop.counter }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li>
                                <a href="/blog/{% if categorised %}category/{{ cat_id }}/{% endif %}page/{{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                {% endif %}
		</div>
		<div class="col-md-4"><!-- sidebar -->
            <div class="container-fluid">
                <div class="row">

                    <div class="panel panel-default">
                       {% if user.is_authenticated %}
                       <div class="panel-body">
                         <img class="img-rounded" style="width: 64px; height: 64px" src="{{ user.userprofile.avatar }}" alt="img">
                           <strong> Вы авторизованы как: {{ user.username }}</strong></br>
                           <a href="{% url 'auth_logout' %}">(Выйти)</a>
                       </div>
                       {% else %}
                       <div class="panel-heading"><div class="panel-title"><strong>Авторизация</strong></div></div>
                        <div class="panel-body">
                                <form method="post" action="{% url 'auth_login' %}" role="form">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Логин</label>
                                    <input type="text" id="id_username" name="username" class="form-control" id="exampleInputEmail1" placeholder="Введите ваш логин">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Пароль <a href="{% url 'auth_password_reset' %}">(забыли пароль?)</a></label>
                                    <div class="input-group">
                                        <input type="password" id="id_password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Введите ваш пароль">
                                            <span class="input-group-btn">
                                                <button type="submit"  class="btn btn-default" type="button">Войти <i class="glyphicon glyphicon-log-in"></i></button>
                                            </span>
                                    </div>
                                </div>
                                <input type="hidden" name="next" value="{{ next }}" />
                            </form>

</div>
                   <div class="panel-footer"><a class="btn btn-default btn-block" href="{% url 'registration_register' %}">Регистрация</a></div>
                   {% endif %}
                    </div>
                    {% include "blog/tweetBoard.html" %}
                </div>
            </div>
        </div>
    </div><!-- row -->
</div> <!-- container -->

</body>
</html>
